# ------------------------

# ZOOKEEPER

# ------------------------

ZOOKEEPER_CLIENT_PORT=2181
ZOOKEEPER_TICK_TIME=2000

# ------------------------

# KAFKA

# ------------------------

KAFKA_BROKER_ID=1
KAFKA_ZOOKEEPER_CONNECT=zookeeper:2181
KAFKA_BOOTSTRAP_SERVERS=kafka:9092
KAFKA_LISTENERS=PLAINTEXT://0.0.0.0:9092,PLAINTEXT_HOST://0.0.0.0:29092
KAFKA_ADVERTISED_LISTENERS=PLAINTEXT://kafka:9092,PLAINTEXT_HOST://localhost:29092
KAFKA_LISTENER_SECURITY_PROTOCOL_MAP=PLAINTEXT:PLAINTEXT,PLAINTEXT_HOST:PLAINTEXT
KAFKA_INTER_BROKER_LISTENER_NAME=PLAINTEXT
KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR=1

# ------------------------

# REDIS

# ------------------------

REDIS_HOST=redis
REDIS_PORT=6379
REDIS_PASSWORD=

# ------------------------

# RABBITMQ

# ------------------------

RABBITMQ_HOST=rabbitmq
RABBITMQ_PORT=5672
RABBITMQ_USERNAME=guest
RABBITMQ_PASSWORD=guest

# ------------------------

# POSTGRES

# ------------------------

POSTGRES_HOST=postgres
POSTGRES_PORT=5432
POSTGRES_DB=q4_video
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres

# ------------------------

# AWS

# ------------------------

AWS_ACCESS_KEY_ID=your_access_key
AWS_SECRET_ACCESS_KEY=your_secret_key
AWS_REGION=ap-south-1
AWS_RAW_BUCKET=raw-video-bucket
AWS_TRANSCODED_BUCKET=transcoded-video-bucket

# ------------------------

# CDN / CLOUDFRONT

# ------------------------

CDN_BASE_URL=https://your-cloudfront-url

# ------------------------

# APPLICATION CONFIG

# ------------------------

PUBLIC_KEY_SERVER_URL=http://localhost:8001/api/asset_onboarding/v1/key

# ------------------------

# WORKER CONFIG

# ------------------------

MAX_CONCURRENT_JOBS=4
TRANSCODING_UPDATE_TOPIC=asset-transcoding-updates
TRANSCODING_FINISH_TOPIC=asset-transcoding-finish
TRANSCODING_FAIL_TOPIC=asset-transcoding-fail
